h1{
    color: blue;
    text-align: center;
    margin: 70px;
    font-size: 50px;
}

body{
    background: rgb(238, 174,202);
    background: radial-gradient(circle, rgba(283,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.login{
    border-style: solid;
    margin: 150px auto;
    padding: 20px;
    width: 300px;
}



.rr-box{
    color: white;
    background-color: #b7b8b86c;
    border-style: ridge;
    border-width: 3px;
    border-color: white;
    border-radius: 25px; 
    width: 440px;
    padding: 10px;
    margin: 150px auto;
}

.rr-box .rr-info .rr-title .lets-get-started, div{ /*, div*/
    text-align: center;
}

input .container{
    color: white;
    background-color: #b7b8b86c;
    border-style: ridge;
    border-width: 3px;
    border-color: white;
    border-radius: 25px; 
    width: 440px;
    padding: 10px;
    margin: 150px auto;
    display: none;
}

button{
    background-color: rgb(149, 233, 23);
}