h1{
    color: rgba(8, 165, 238, 0.877);
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
    font-size: 50px;
}

h2{
    font-size: xx-large;
}

h3{
    color: #ee0dc89a;
    text-align: center center;
    font-size: x-large;
}
    
#output1{
    font-size: xxx-large;
    color: #ee0dc89a;
}
body{
    background: rgb(238, 174,202);
    background: radial-gradient(circle, rgba(283,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.create-username{
    border-style: none;
    margin: 75px auto;
    padding: 20px;
    width: 330px;
    border-color: aliceblue;
    color: white;
}
#btn1{
    background-color: #ee0dc89a;
    color: white;
    border: none;
}



.rr-box{
    color: white;
    background-color: #b7b8b86c;
    border-style: ridge;
    border-width: 3px;
    border-color: white;
    border-radius: 25px; 
    width: 700px;
    padding: 10px;
    margin: 75px auto;
}

.rr-box .rr-info .rr-title .lets-get-started, div{ /*, div*/
    text-align: center;
    font-size: large;
}

input .container{
    color: white;
    background-color: #b7b8b86c;
    border-style: ridge;
    border-width: 3px;
    border-color: white;
    border-radius: 25px; 
    width: 440px;
    padding: 10px;
    margin: 150px auto;
    display: none;
}

button{
    background-color: rgba(56, 243, 50, 0.952);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

span{
    font-size:large;
}

#output{
    background-color: hsla(233, 11%, 54%, 0.247);
    margin: 20px;
}

#submit{
    font-size: large;
    width: 100px;
    margin: 15px;
}

img, #smiley{
 height: 80px;
}


#quiz-left{
height: 200px;
margin: 30px;
position: relative;
border-radius: 50%;
}

#quiz-right{
height: 200px;
margin: 30px;
position: relative;
left: 1155px;
border-radius: 50%;
}
